<% include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="itemTextField">Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter Your Name"
                        name="name" 
                        value="<%= item.name %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Number</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="Enter Your Contact Number"
                    name="number" 
                    value="<%= item.number %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control"
                    id="email"
                    placeholder="Enter Your Email"
                    name="email" 
                    value="<%= item.email %>"
                    >
                </div>                
                <br />
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/inventory/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>
            </form>
        </div>

    </div>
</div>

<% include ../partials/footer.ejs %>